# This file defines the owners of the code in this repository.
# See https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners for more information.

*           @PurdueDigitalTwin/monorepo

[Documentation]
/docs/       @PurdueDigitalTwin/monorepo

[JTRP]
/src/projects/jtrp/5023  @PurdueDigitalTwin/jtrp

[Generative]
/src/projects/generative/vamf   @juanwulu

[RL]
/src/projects/rl    @juanwulu   @mrbyflyg
